h1 h2 h3 {
  color: rgba(0, 0, 0, 0.87);
  font-family: "Helvetica";
}
p {
  color: rgba(0, 0, 0, 0.87);
  font-size: 20px;
  font-family: "Helvetica";
}
li {
  margin: 10px 0;
}

a:link {
    color: rgb(0, 59, 114);
}
a:visited {
    color: rgb(0, 59, 114);
}
a:hover {
    color: rgb(162, 0, 212);
}
a:active {
    color: rgb(0, 158, 137);
}

.CodeMirror {
  font-size: 18px;
  min-height: 600px;
  max-height: 70%;
}

ol { counter-reset: item }
ol li{ display: block }
ol li:before { content: counters(item, ".") " "; counter-increment: item }